@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("AdminLayoutHeadComponentPartial")

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        @await Component.InvokeAsync("AdminLayoutSpinnerComponentPartial")
        @await Component.InvokeAsync("AdminLayoutSidebarComponentPartial")
        <div class="content">
            @await Component.InvokeAsync("AdminLayoutNavbarComponentPartial")

            @RenderBody()

            @await Component.InvokeAsync("AdminLayoutFooterComponentPartial")
        </div>

        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    @await Component.InvokeAsync("AdminLayoutScriptComponentPartial")

</body>

</html>
